In [1]:
import numpy as np
import pandas as pd

import acquire

In [2]:
df = acquire.get_telco_data()

# Prepare

In [ ]:
# Prepare.py

# 1. - Explore -
# clean()

# 2. - Prepare -
# train_val_test()

# 3. - Model - 
# model_telco_data()

In [ ]:
# Dropped Redundant Columns
df = df.drop(['payment_type_id','internet_service_type_id','contract_type_id'],axis=1)

In [ ]:
# Fix incoming dataframe column with numerical values set as string type
df['total_charges'] = (df.total_charges + '0').astype('float')

In [ ]:
df = df.drop(['churn_month'],axis=1)

In [ ]:
# Removed Duplicate Columns
df = df.loc[:,~df.columns.duplicated()].copy()

In [ ]:
# Isolate Categorical Columns
categorical_columns = df.drop(columns = 'customer_id').select_dtypes(include=object).columns.to_list()

In [ ]:
# categorical_columns = []
# bin_cats = []
# mult_cats = []
# numerical_columns = []
# for col in telco.columns:
#     if telco[col].dtype == 'object':
#         categorical_columns.append(col)
#         if telco[col].value_counts().size > 2:
#             mult_cats.append(col)
#         else:
#             bin_cats.append(col)
#     else:
#         numerical_columns.append(col)

In [ ]:
# Bivariate Features
bivariate_features = []

for i in range(len(categorical_columns)):
        if len(df[categorical_columns[i]].value_counts()) == 2:
            categorical_columns_binary.append(categorical_columns[i])

In [ ]:
# Multivariate Features
multivariate_features = []
for i in range(len(categorical_columns)):
        if len(df[categorical_columns[i]].value_counts()) > 2:
            categorical_columns_not_binary.append(categorical_columns[i])

In [ ]:
# Dummies - Bivariate
bivariate_features_dummies = pd.get_dummies(df[categorical_columns_binary],drop_first=True)

In [ ]:
# Dummies - Multivariate
multivariate_features_dummies = pd.get_dummies(df[categorical_columns_not_binary],drop_first=True)

In [ ]:
# Combine all
df = pd.concat([df, categorical_columns_binary_dummies], axis=1)
df = pd.concat([df, categorical_columns_not_binary_dummies], axis=1)

In [5]:
target = 'churn'

In [6]:
X_df = df.drop(columns=target)

In [7]:
X_df

,customer_id,contract_type_id,payment_type_id,internet_service_type_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,contract_type_id,paperless_billing,gender,senior_citizen,partner,dependents,payment_type_id,monthly_charges,total_charges,signup_date
0,0002-ORFBO,2,2,1,Female,0,Yes,Yes,9,Yes,...,2,Yes,Female,0,Yes,Yes,2,65.60,593.3,2021-04-21 18:07:34
1,0003-MKNFE,1,2,1,Male,0,No,No,9,Yes,...,1,No,Male,0,No,No,2,59.90,542.4,2021-04-21 18:07:34
2,0004-TLHLJ,1,1,2,Male,0,No,No,4,Yes,...,1,Yes,Male,0,No,No,1,73.90,280.85,2021-09-21 18:07:34
3,0011-IGKFF,1,1,2,Male,1,Yes,No,13,Yes,...,1,Yes,Male,1,Yes,No,1,98.00,1237.85,2020-12-21 18:07:34
4,0013-EXCHZ,1,2,2,Female,1,Yes,No,3,Yes,...,1,Yes,Female,1,Yes,No,2,83.90,267.4,2021-10-21 18:07:34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9979-RGMZT,2,2,2,Female,0,No,No,7,Yes,...,2,Yes,Female,0,No,No,2,94.05,633.45,2021-06-21 18:07:34
7039,9985-MWVIX,1,2,2,Female,0,No,No,1,Yes,...,1,Yes,Female,0,No,No,2,70.15,70.15,2021-12-21 18:07:34
7040,9986-BONCE,1,3,3,Female,0,No,No,4,Yes,...,1,No,Female,0,No,No,3,20.95,85.5,2021-09-21 18:07:34
7041,9992-UJOEL,1,2,1,Male,0,No,No,2,Yes,...,1,Yes,Male,0,No,No,2,50.30,92.75,2021-11-21 18:07:34
7042,9995-HOTOH,3,1,1,Male,0,Yes,Yes,63,No,...,3,No,Male,0,Yes,Yes,1,59.00,3707.6,2016-10-21 18:07:34

# Final Function

In [ ]:
def clean_telco_data(df):
    # original prep_telco()
    return df

In [ ]:
def split_telco_data(df, target='churn', seed=123):
    train_validate, test = train_test_split(df, test_size=0.2, 
                                            random_state=seed, 
                                            stratify=df[target])
    train, validate = train_test_split(train_validate, test_size=0.3, 
                                       random_state=seed,
                                       stratify=train_validate[target])
    
    return train, validate, test

In [ ]:
def model_telco_data(df,target='churn'):
    target='churn'
    
    X_df = df.drop(columns=target)
    y_df = df.[target]

    return X_df, y_df

Dynamic variable names
```python
Dynamic_Variable_Name = "geek"
 
# The value 2020 is assigned
# to "geek" variable
vars()[Dynamic_Variable_Name] = 2020
 
# Display variable
print(geek)
```

# Model

In [ ]:
X_train, y_train = model_telco_data(df)
X_test, y_test = model_telco_data(df)
X_validate, y_validate = model_telco_data(df)