In [1]:
import acquire

In [2]:
df = acquire.get_telco_data()

# SQL Query

```sql
SELECT
    *
FROM
    customers AS c
    LEFT JOIN internet_service_types AS ist USING (internet_service_type_id)
    LEFT JOIN customer_subscriptions AS csb USING (customer_id)
    LEFT JOIN payment_types AS pt USING (payment_type_id)
    LEFT JOIN contract_types AS ct USING (contract_type_id)
    LEFT JOIN customer_churn AS ccr USING (customer_id)
    LEFT JOIN customer_contracts AS ccn USING (customer_id)
    LEFT JOIN customer_details AS cd USING (customer_id)
    LEFT JOIN customer_payments AS cp USING (customer_id)
    LEFT JOIN customer_signups AS cs USING (customer_id);
```

In [3]:
column_names = df.columns.tolist()

In [4]:
for _ in column_names:
    print(_)

customer_id
contract_type_id
payment_type_id
internet_service_type_id
gender
senior_citizen
partner
dependents
tenure
phone_service
multiple_lines
online_security
online_backup
device_protection
tech_support
streaming_tv
streaming_movies
paperless_billing
monthly_charges
total_charges
churn
internet_service_type
phone_service
multiple_lines
internet_service_type_id
online_security
online_backup
device_protection
tech_support
streaming_tv
streaming_movies
payment_type
contract_type
churn_month
contract_type_id
paperless_billing
gender
senior_citizen
partner
dependents
payment_type_id
monthly_charges
total_charges
signup_date

In [6]:
df.head(1).T

                                            0
customer_id                        0002-ORFBO
contract_type_id                            2
payment_type_id                             2
internet_service_type_id                    1
gender                                 Female
senior_citizen                              0
partner                                   Yes
dependents                                Yes
tenure                                      9
phone_service                             Yes
multiple_lines                             No
online_security                            No
online_backup                             Yes
device_protection                          No
tech_support                              Yes
streaming_tv                              Yes
streaming_movies                           No
paperless_billing                         Yes
monthly_charges                          65.6
total_charges                           593.3
churn                                      No
internet_service_type                     DSL
phone_service                             Yes
multiple_lines                             No
internet_service_type_id                    1
online_security                            No
online_backup                             Yes
device_protection                          No
tech_support                              Yes
streaming_tv                              Yes
streaming_movies                           No
payment_type                     Mailed check
contract_type                        One year
churn_month                              None
contract_type_id                            2
paperless_billing                         Yes
gender                                 Female
senior_citizen                              0
partner                                   Yes
dependents                                Yes
payment_type_id                             2
monthly_charges                          65.6
total_charges                           593.3
signup_date               2021-04-21 18:07:34

# Dropped Redundant Columns

In [7]:
df = df.drop(['payment_type_id','internet_service_type_id','contract_type_id'],axis=1)

In [8]:
df.head(1).T

                                         0
customer_id                     0002-ORFBO
gender                              Female
senior_citizen                           0
partner                                Yes
dependents                             Yes
tenure                                   9
phone_service                          Yes
multiple_lines                          No
online_security                         No
online_backup                          Yes
device_protection                       No
tech_support                           Yes
streaming_tv                           Yes
streaming_movies                        No
paperless_billing                      Yes
monthly_charges                       65.6
total_charges                        593.3
churn                                   No
internet_service_type                  DSL
phone_service                          Yes
multiple_lines                          No
online_security                         No
online_backup                          Yes
device_protection                       No
tech_support                           Yes
streaming_tv                           Yes
streaming_movies                        No
payment_type                  Mailed check
contract_type                     One year
churn_month                           None
paperless_billing                      Yes
gender                              Female
senior_citizen                           0
partner                                Yes
dependents                             Yes
monthly_charges                       65.6
total_charges                        593.3
signup_date            2021-04-21 18:07:34

In [9]:
# First column should be `customer_id` after dropping other redudant columns
df.columns.tolist()[0] == 'customer_id'

True

In [11]:
# Total Columns
df.shape[1]

38